.ToggleButton {
  background-color: var(--gray-color);
  width: 60px;
  height: 35px;
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding-left: 6px;
  padding-right: 6px;
}

.ToggleButton span {
  display: block;
  background-color: var(--text-color);
  width: 22px;
  height: 22px;
  border-radius: 10px;
  content: "";
}

.active {
  justify-content: flex-end;
}