@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 20%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color: hsl(var(--hue), var(--sat), 46%);
  --light-color-gray: hsl(var(--hue), var(--sat), 86%);
  --body-color: #fcfafb;
  --container-color: #fff;
  --gray-color: #F4F4F4;
  --amethyst-color: #A445ED;
  --amethyst-light-color: #E9D1FB;

  /*========== Font and typography ==========*/
  --body-font: 'Fira Code', monospace;

  /*.5rem = 8px | 1rem = 16px ...*/
  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  /*========== Font weight ==========*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes Bottom ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  --ts-soft: 120ms ease-in-out;
}

html.dark-mode {
  --title-color: hsl(var(--hue), var(--sat), 80%);
  --title-color-dark: hsl(var(--hue), var(--sat), 100%);
  --text-color: hsl(var(--hue), var(--sat), 70%);
  --light-color-gray: hsl(var(--hue), var(--sat), 35%);
  --body-color: #282c35;
  --container-color: #1d2026;
  --gray-color: #242a31;
  --amethyst-color: #7b52ab;
  --amethyst-light-color: #c4a7e4;
}


/* Responsive typography */
@media screen and (max-width: 992px) {
  :root {
    --big-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--container-color);
  color: var(--text-color);
}

header {
  background-color: var(--container-color);
  width: 100%;
  position: sticky;
  top: 0;
  padding-bottom: var(--mb-2);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

ul li {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

.dark {
  background-color: var(--text-color);
  color: var(--body-color);
}

.section__button {
  display: flex;
}

.button__standard {
  all: unset;
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  padding: var(--mb-0-5) var(--mb-1);
  border-radius: var(--mb-0-5);

  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: var(--small-font-size);

  transition: all var(--ts-soft);
  margin-right: 10px;
}

.button__standard:active {
  transform: scale(95%);
}

.button__standard img {
  max-width: 20px;
  max-height: 20px;
  margin-right: var(--mb-0-5);
}

.btn__secondary {
  color: var(--title-color);
  border: 2px solid transparent;
}

.btn__secondary:hover {
  border: 2px solid var(--title-color);
  background-color: var(--light-color-gray);
}

.btn__primary {
  background-color: var(--title-color);
  color: var(--container-color);
}

.btn__primary:hover {
  background-color: var(--title-color-dark);
}

.button {
  display: inline-block;
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 0.8rem 1.5rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
}

.button img {
  margin-left: 15px;
  width: 23px;
  height: 23px;
}

.button:hover {
  background-color: var(--title-color-dark);
}

.button__icon {
  margin-left: var(--mb-0-5);
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

.container {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 6rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

@media screen and (max-width: 992px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }

  .button {
    padding: 1rem 1.75rem;
  }

  .button__icon {
    width: 22px;
    height: 22px;
  }
}

@media screen and (max-width: 768px) {
  .section {
    padding: 2rem 0 4rem;
  }

  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

  .Main {
    width: 85%;
    margin: auto;
  }

  .grid {
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 350px) {
  :root {
    --big-font-size: 2.25rem;
  }

  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
}
