.header {
  width: 100%;
  margin: var(--mb-2-5) 0px;
}

.nav {
  height: calc(var(--header-height) + 1.5rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}

.logo {
  width: 40px;
}

.logo img {
  width: 100%;
}
